<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>


    <script>
      function getHello() {
    const url = 'http://localhost:5000/home'
    const response  = fetch(url)
    console.log(response);
    document.getElementById("demo").innerHTML = response;
}
        </script>
</head>
<body>
  <form method="POST">
          <input name="name">

      <br>
      <br>




      <button onclick="getHello()">click</button>




    </form>
</body>
</html>
